// Font Size
.font-10 {
    font-size: 10px;
}
.font-12 {
    font-size: 12px;
}
.font-14 {
    font-size: 14px;
}
// Posisstion
.left-5 {
    left: 5%;
}
.left-10 {
    left: 10%;
}
.top-20 {
    top: 20%
}

.bottom-30 {
    bottom: 30%;
}

// Diametions

.min-vh-90 {
    min-height: 90vh !important;
}